.TodoForm{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    text-align: start;
    label {
        font-weight: 600;
        margin-bottom: 10px;
    }
    .button-search{
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 10px;
        input {
            max-width: 250px;
            width: 100%;
            padding: 5px;
         }
         .addList{
            max-width: 150px;
            width: 100%;
            background-color: green;
            color: black;
            font-weight: 500;
            padding: 5px;
            border: 1px solid black;
            &:hover {
                opacity: 0.5;
            }
         }
    }
 
}